<h3>Create Medication</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="medication.name" name="name">
    </div>

    <div class="form-group">
      <label for="dossage">Dossage</label>
      <input type="number" class="form-control" id="dossage" required [(ngModel)]="medication.dossage" name="dossage">
    </div>

    <div class="form-group">
      <label for="sideEffects">Side Effects</label>
      <input type="text" class="form-control" id="sideEffects" required [(ngModel)]="medication.sideEffects" name="sideEffects">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button (click)="gotoList()" style="margin-left: 10px" class="btn btn-primary">Back to Doctor Home</button><br>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
