<h3>Update Medication</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="medication.name" name="name">
    </div>

    <div class="form-group">
      <label for="dossage">Dossage</label>
      <input type="text" class="form-control" id="dossage" required [(ngModel)]="medication.dossage" name="dossage">
    </div>

    <div class="form-group">
      <label for="sideEffects">Side Effects</label>
      <input type="text" class="form-control" id="sideEffects" required [(ngModel)]="medication.sideEffects" name="sideEffects">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button (click)="back()" style="margin-left: 10px" class="btn btn-primary">Back to Medication List</button><br>
  </form>
</div>
