<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2>Medical Platform</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>


  <footer class="footer">
    <div class="container">
      <span>All Rights Reserved 2019 @Moldovan</span>
    </div>
  </footer>
</div>

