<h2>Medication Details</h2>

<hr/>
<div *ngIf="medication">
  <div>
    <label><b>Name: </b></label> {{medication.name}}
  </div>
  <div>
    <label><b>Dossage: </b></label> {{medication.dossage}}
  </div>
  <div>
    <label><b>Side Effects: </b></label> {{medication.sideEffects}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Medication List</button><br>
