<h2>Caregiver Details</h2>

<hr/>
<div *ngIf="user">
  <div>
    <label><b>Name: </b></label> {{user.name}}
  </div>
  <div>
    <label><b>BirthDate: </b></label> {{user.birthDate | date:'dd/MM/yyyy'}}
  </div>
  <div>
    <label><b>Address: </b></label> {{user.address}}
  </div>
  <div>
    <label><b>Username: </b></label> {{user.username}}
  </div>
  <div>
    <label><b>Gender: </b></label> {{user.gender}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Caregiver List</button><br>
