<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Caregiver List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>BirthDate</th>
        <th>Address</th>
        <th>Username</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let caregiv of caregiver | async">
        <td>{{caregiv.name}}</td>
        <td>{{caregiv.birthDate | date:'dd/MM/yyyy'}}</td>
        <td>{{caregiv.address}}</td>
        <td>{{caregiv.username}}</td>
        <td>{{caregiv.gender}}</td>
        <td><button (click)="deleteCaregiver(caregiv.id)" class="btn btn-danger">Delete</button>
          <button (click)="updateCaregiver(caregiv.id, caregiv)" class="btn btn-info" style="margin-left: 10px">Update</button>
          <button (click)="caregiverDetails(caregiv.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button (click)="back()" class="btn btn-primary">Back to Doctor Home</button><br>
  </div>
</div>
