<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Patient List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>BirthDate</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Medical Record</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patien of patient | async">
        <td>{{patien.name}}</td>
        <td>{{patien.birthDate | date:'dd/MM/yyyy'}}</td>
        <td>{{patien.address}}</td>
        <td>{{patien.gender}}</td>
        <td>{{patien.medicalRecord}}</td>

      </tr>
      </tbody>
    </table>
    <button (click)="back()" class="btn btn-primary">Back to Caregiver Home</button><br>
  </div>
</div>
